.add-product {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;

  @media (min-width: @tablet-width) {
    flex-direction: row;
    justify-content: space-between;
    padding-right: 38px;
    padding-left: 38px;
  }

  @media (min-width: @desktop-width) {
    .indent-reset;
    padding-top: 15px;
    padding-bottom: 17px;
  }
}
/*Заголовок карточки*/
.add-product__link-title {
  text-transform: uppercase;
  text-decoration: none;
  color: @special_dark-grey-2;
}

.add-product__title {
  .indent-reset;
  .oswald-regular;
  .set-font-size-line-height (16px; 16px);
  margin-bottom: 15px;

  @media (min-width: @tablet-width) {
    .set-font-size-line-height (20px; 20px);
    width: 245px;
    margin-right: 80px;
  }
}

.add-product__description {
  display: flex;
  justify-content: space-between;
  margin-bottom: 13px;
  .set-font-size-line-height(14px; 20px);

  @media (min-width: @tablet-width) {
    .set-font-size-line-height(16px; 20px);
    width: 218px;
  }

  @media (min-width: @desktop-width) {
    width: 288px;
  }
}

.add-product__amount,
.add-product__price {
  .indent-reset;
}

/*Кнопка заказать*/
.add-product__button {
  width: 100%;
  .set-font-size-line-height(16px; 20px);
  padding-top: 10px;
  padding-bottom: 10px;

  @media (min-width: @desktop-width) {
    width: 244px;
  }
}
