.additional-catalog {
  padding-top: 25px;
  padding-bottom: 18px;
  /*Временно*/
  //outline: 3px solid rgba(255, 0, 0, 0.8);
  //outline-offset: -3px;
}

.additional-catalog__title {
  .indent-reset;
  .oswald-regular;
  .set-font-size-line-height(24px; 24px);
  color: @basic-black;
  margin-bottom: 36px;

  @media (min-width: @tablet-width) {
    .set-font-size-line-height(36px; 36px);
    margin-bottom: 80px;
    margin-left: 38px;
  }

  @media (min-width: @desktop-width) {
    margin-left: 0;
  }
}

.additional-catalog__list {
  list-style: none;
  .indent-reset;

  @media (min-width: @desktop-width) {
    width: 896px;
  }
}

.additional-catalog__item {
  padding-top: 15px;
  padding-bottom: 18px;
  border-top: 1px solid @special-grey;
}
