.additional-catalog {
  position: relative;
  padding: 25px 20px 0;
  width: 320px;
  margin: 0 auto;
  //outline: 3px solid darkblue;
  //outline-offset: -3px;


  @media (min-width: @tablet-width) {
    width: 768px;
    padding: 36px 30px 0;
  }

  @media (min-width: @desktop-width) {
    width: 1440px;
    padding: 38px 110px 0;
  }
}

.additional-catalog__intro {
  position: relative;

  @media (min-width: @desktop-width) {
    display: flex;
    justify-content: space-between;
  }
}

.additional-catalog__title {
  position: relative;
  .indent-reset;
  .oswald-regular;
  .set-font-size-line-height(24px; 24px);
  color: @basic-black;
  margin-bottom: 36px;
  background-color: @basic-white;
  margin-right: 34px;

  @media (min-width: @tablet-width) {
    .set-font-size-line-height(36px; 36px);
    width: 411px;
    margin-bottom: 78px;
    padding-left: 36px;
    margin-right: 328px;
  }

  @media (min-width: @desktop-width) {
    padding-left: 40px;
    left: -40px;
    margin-bottom: 83px;
  }
}

.additional-catalog::before {
  content: "";
  position: absolute;
  z-index: -1;
  width: 50%;
  right: 0;
  top: 41px;
  height: 0;
  border-bottom: @green-border;

  @media (min-width: @tablet-width) {
    width: 100%;
    top: 58px;
  }

  @media (min-width: @desktop-width) {
    top: 61px;
  }
}

.additional-catalog__list {
  list-style: none;
  .indent-reset;
  margin-bottom: 38px;

  @media (min-width: @desktop-width) {
    width: 896px;
    margin-bottom: 40px;
  }
}

.additional-catalog__item {
  padding-top: 13px;
  padding-bottom: 18px;
  border-top: @grey-border-2;

  @media (min-width: @tablet-width) {
    border-right: @grey-border-2;
    border-left: @grey-border-2;
    padding-top: 26px;
    padding-bottom: 27px;
  }
}

.additional-catalog__item:last-child {
  border-bottom: @grey-border-2;
}

/*Акция*/
.additional-catalog__action {
  background-image: url("../img/background-catalog-mobile.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 289px;
  margin-bottom: 35px;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/background-catalog-mobile@2x.jpg");
  }

  @media (min-width: @tablet-width) {
    background-image: url("../img/background-catalog-tablet.jpg");
    margin-top: 69px;
    height: 200px;
    margin-bottom: 75px;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/background-catalog-tablet@2x.jpg");
    }
  }

  @media (min-width: @desktop-width) {
    background-image: url("../img/background-catalog-desktop.jpg");
    width: 245px;
    height: 286px;
    margin-top: 0;
    margin-bottom: 86px;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/background-catalog-desktop@2x.jpg");
    }
  }
}

.additional-catalog__action-text {
  position: relative;
  .indent-reset;
  text-align: center;
  .set-font-size-line-height(16px; 20px);
  color: @basic-white;
  margin-right: 53px;
  margin-left: 49px;
  padding-top: 186px;

  @media (min-width: @tablet-width) {
    .indent-reset;
    width: 162px;
    text-align: left;
    margin-left: 423px;
    padding-top: 71px;
  }

  @media (min-width: @desktop-width) {
    .indent-reset;
    text-align: center;
    margin: 0 auto;
    padding-top: 186px;
  }
}

.additional-catalog__action-text:before {
  content: "";
  width: 80px;
  height: 82px;
  position: absolute;
  top: 57px;
  left: 51px;
  background: url("../img/icon-gift.svg") no-repeat center;

  @media (min-width: @tablet-width) {
    top: 55px;
    left: -345px;
  }

  @media (min-width: @desktop-width) {
    top: 53px;
    left: 43px;
  }
}
