.additional-catalog {
  padding-top: 25px;
  //padding-bottom: 18px;

  @media (min-width: @tablet-width) {
    padding-top: 67px;
  }

    @media (min-width: @desktop-width) {
    padding: 77px 110px 10px;
  }
}

.additional-catalog__wrapper {
  padding: 0 20px;
  margin: 0 auto;

  @media (min-width: @tablet-width) {
    padding: 0 30px;
  }

  @media (min-width: @desktop-width) {
    .indent-reset;
    display: flex;
    justify-content: space-between;
  }
}

.additional-catalog__title {
  //width: 100%;
  .indent-reset;
  .oswald-regular;
  .set-font-size-line-height(24px; 24px);
  color: @basic-black;
  margin-bottom: 36px;
  margin-left: 20px;

  @media (min-width: @tablet-width) {
    .set-font-size-line-height(36px; 36px);
    margin-bottom: 80px;
    margin-left: 70px;
  }

  @media (min-width: @desktop-width) {
    margin-left: 0;
  }
}

.additional-catalog__list {
  list-style: none;
  .indent-reset;
  margin-bottom: 40px;

  @media (min-width: @desktop-width) {
    width: 896px;
    margin-bottom: 40px;
  }
}

.additional-catalog__item {
  padding-top: 14px;
  padding-bottom: 16px;
  border-top: @test-border;
  //border-top: 1px solid @special-grey;

  @media (min-width: @tablet-width) {
    border-right: @test-border;
    border-left: @test-border;
    padding-top: 26px;
    padding-bottom: 27px;
  }
}

.additional-catalog__item:last-child {
  border-bottom: @test-border;
}

/*Акция*/
.additional-catalog__action {
  background-image: url("../img/background-image-catalog.jpg");
  background-repeat: no-repeat;
  height: 289px;
  margin-bottom: 37px;

  @media (min-width: @tablet-width) {
    margin-top: 70px;
    width: 100%;
    height: 200px;
    background-size: 708px auto;
    background-position: 50% 60%;
    margin-bottom: 75px;
  }

  @media (min-width: @desktop-width) {
    width: 245px;
    height: 289px;
    margin-top: 0;
  }
}

.additional-catalog__action-text {
  .indent-reset;
  text-align: center;
  .set-font-size-line-height(16px; 20px);
  color: @basic-white;
  margin-right: 60px;
  margin-left: 60px;
  padding-top: 186px;

  @media (min-width: @tablet-width) {
    .indent-reset;
    width: 160px;
    text-align: left;
    margin-left: 423px;
    padding-top: 71px;
  }

  @media (min-width: @desktop-width) {
    .indent-reset;
    text-align: center;
    margin: 0 auto;
    padding-top: 185px;
  }
}
