.button {
  display: block;
  background-color: var(--basic-green);
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: var(--basic-white);
  .oswald-regular;
  padding-top: 7px;
  padding-bottom: 7px;
}
