.button {
  display: block;
  border: none;
  background-color: @basic-green;
  width: 100%;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: @basic-white;
  .oswald-regular;
  padding-top: 7px;
  padding-bottom: 7px;
}
