.demonstration {
  padding-top: 27px;
  background-color: @basic-grey-2;
  padding-bottom: 32px;

  @media (min-width: @tablet-width) {
    background-color: @basic-white;
    padding-top: 43px;
  }

  @media (min-width: @desktop-width) {
    padding-top: 26px;
    padding-bottom: 0;
  }
}

.demonstration__content {
  @media (min-width: @desktop-width) {
    padding-right: 175px;
  }
}
/*Заголовок*/
.demonstration__title {
  .indent-reset;
  .oswald-regular;
  font-size: 36px;
  line-height: 40px;
  color: @basic-black;
  margin-bottom: 33px;

  @media (min-width: @tablet-width) {
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 66px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 145px;
  }
}
/*Абзац текста*/
.demonstration__description {
  .indent-reset;

  @media (min-width: @tablet-width) {
    .set-font-size-line-height(16px; 24px);
  }
}

/*Статистика*/
.demonstration__list {
  display: flex;
  flex-wrap: wrap;
  .indent-reset;
  margin-top: 40px;
  justify-content: space-between;

  @media (min-width: @tablet-width) {
    margin-top: 68px;
    justify-content: flex-start;
  }

  @media (min-width: @desktop-width) {
    width: 366px;
    margin-top: 83px;
    justify-content: space-between;
  }
}

.demonstration__item {
  width: 124px;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;

  @media (min-width: @tablet-width) {
    width: 162px;
  }
}

/*Цифры*/
.demonstration__explanation {
  color: @basic-black;
  .oswald-regular;
  .set-font-size-line-height(24px; 24px);
  margin-bottom: 15px;
  .indent-reset;
  text-transform: uppercase;

  @media (min-width: @tablet-width) {
    .set-font-size-line-height(30px; 37px);
  }
}

/*Пояснения*/
.demonstration__parameter {
  text-align: center;
  font-size: 12px;
  line-height: 12px;
  margin-top: 9px;

  @media (min-width: @tablet-width) {
    .set-font-size-line-height(14px; 14px);
  }
}

.demonstration__parameter br {
  @media (min-width: @tablet-width) {
    display: none;
  }
}

/*Затраты на питание*/
.demonstration__item--cost {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 18px;
  margin-bottom: 44px;
  text-transform: uppercase;
  .oswald-regular;
  line-height: 20px;
  color: @basic-black;

  @media (min-width: @tablet-width) {
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;
    flex-grow: 1;
    width: auto;
    .indent-reset;
  }

  @media (min-width: @desktop-width) {
    margin-top: 59px;
    flex-direction: row;
    justify-content: flex-start;
  }
}
/*Затраты на питание - Цифры*/
.demonstration__item--cost .demonstration__explanation {
  margin-left: 0;

  @media (min-width: @tablet-width) {
    .set-font-size-line-height(20px; 20px);
  }

  @media (min-width: @desktop-width) {
    margin-left: 64px;
  }
}

/*Затраты на питание - Пояснения*/
.demonstration__item--cost .demonstration__parameter {
  margin-left: 0;

  @media (min-width: @tablet-width) {
    .set-font-size-line-height(20px; 20px);
    .indent-reset;
  }
}

/*Раскладка для десктопа*/
@media (min-width: @desktop-width) {
  .demonstration__wrapper {
    display: flex;
    width: 1220px;
    margin: 0 auto;
  }

  .demonstration__slider {
    width: 50%;
  }

  .demonstration__content {
    width: 50%;
  }
}
