.form {
  @media (min-width: @tablet-width) {
    //padding-left: 40px;
    //padding-right: 40px;
  }

  @media (min-width: @desktop-width) {
    padding: 0;
  }
}

.form__form {
  @media (min-width: @tablet-width) {
    display: flex;
    flex-wrap: wrap;
    //outline: 2px solid darkblue;
    //outline-offset: -3px;
    margin-bottom: 71px;
  }

  @media (min-width: @desktop-width) {
    display: grid;
    grid-template-columns: 570px 570px;
    grid-column-gap: 80px;
  }
}
/*Верхний заголовок*/
  .form__title {
    margin-left: 20px;

    @media (min-width: @tablet-width) {
      margin-left: 70px;
    }
  }

/*Верхний текст*/
.form__content {
  text-align: left;
  margin-bottom: 38px;
  margin-left: 20px;

  @media (min-width: @tablet-width) {
    .set-font-size-line-height(20px; 30px);
    margin-bottom: 66px;
    margin-left: 71px;
  }
}

.form__fieldset {
  border: none;
  .indent-reset;
  .oswald-regular;

  @media (min-width: @tablet-width) {
    width: 100%;
  }
}
/*Заголовки fieldset*/
.form__legend {
  .indent-reset;
  .oswald-regular;
  .set-font-size-line-height(24px; 26px);
  color: @basic-black;

  @media (min-width: @tablet-width) {
    .set-font-size-line-height(36px; 36px);
  }
}

/*Подписи к инпутам*/
.form__label {
  display: block;
  white-space: nowrap;
  text-transform: uppercase;
  //color: red;
  color: @special_dark-grey;
  .set-font-size-line-height(16px; 18px);
  margin-right: 14px;

  @media (min-width: @tablet-width) {
    .set-font-size-line-height(20px; 30px);
  }
}
/*Подписи к radio и checkbox*/
.form__label--switch {
  color: @special_dark-grey-2;
}

.form__line {
  display: flex;
  align-items: center;
}
/*Сами инпуты*/
.form__input {
  flex-grow: 1;
  text-transform: uppercase;
  .set-font-size-line-height(16px; 16px);
  .oswald-regular;
  color: @special_dark-grey;
  padding: 10px 15px;
  border: @grey-border-4;
  //border: @test-border;

  @media (min-width: @tablet-width) {
  .set-font-size-line-height (20px; 30px);
  }
}

/*Общая информация о коте*/
.form__cat-info {
  padding: 0 20px 9px;
  border-bottom: @grey-border-3;

  @media (min-width: @tablet-width) {
    border: none;
    padding: 0 70px 9px;
  }
}

.form__cat-info .form__line {
  margin-bottom: 13px;

  @media (min-width: @tablet-width) {
    margin-bottom: 20px;
  }
}

/*Выберите подходящую программу*/
.form__programm {
  display: flex;
  flex-direction: column;
  padding: 29px 20px 0;
  border-bottom: @grey-border-3;

  @media (min-width: @tablet-width) {
    //border: @test-border;
    border: @grey-border-3;
    margin: 42px 70px 50px;
    padding-bottom: 10px;
  }
}

.form__programm .form__line {
  margin-bottom: 25px;

  @media (min-width: @tablet-width) {
    margin-bottom: 22px;
  }
}

.form__programm .form__label {
  margin-left: 25px;

  @media (min-width: @tablet-width) {
    margin-left: 44px;
  }
}
/*Контактные данные (владельца кота)*/
.form__owner-info {
  position: relative;
  padding: 0 20px 14px;

  @media (min-width: @tablet-width) {
    padding: 0 67px 43px;
  }

  @media (min-width: @desktop-width) {
    grid-column-start: 1;
    grid-column-end: 3;
    display: flex;
    justify-content: space-between;
  }
}

.form__owner-info::before {
  @media (min-width: @tablet-width) {
    content: "";
    position: absolute;
    left: 0;
    top: -91px;
    width: 3.5%;
    height: 0;
    border: @green-border;
  }
}

.form__owner-info::after {
  @media (min-width: @tablet-width) {
    content: "";
    position: absolute;
    right: 0;
    top: -91px;
    width: 18.5%;
    height: 0;
    border: @green-border;
  }
}

.form__owner-info .form__legend {
  padding-top: 25px;
  margin-bottom: 34px;
  position: relative;

  @media (min-width: @tablet-width) {
    margin-bottom: 76px;
  }
}

.form__owner-info .form__line {
  margin-bottom: 13px;

  @media (min-width: @tablet-width) {
    margin-bottom: 21px;
  }
}

.form__owner-info .form__label {
  margin-right: 10px;

  @media (min-width: @tablet-width) {
    margin-right: 18px;
  }
}
/*Комментарий*/
.form__comment {
  padding: 0 20px;

  @media (min-width: @tablet-width) {
    padding: 0 70px;
  }

  @media (min-width: @desktop-width) {
    grid-column-start: 1;
    grid-column-end: 3;
  }
}

.form__comment .form__legend {
  margin-bottom: 35px;

  @media (min-width: @tablet-width) {
    margin-bottom: 75px;
  }
}

.form__textarea {
  .indent-reset;
  width: 100%;
  height: 150px;
  text-transform: uppercase;
  color: @special_dark-grey;
  .oswald-regular;
  font-size: 16px;
  line-height: 18px;
  box-sizing: border-box;
  border: @grey-border-4;
  padding: 8px 13px;

  @media (min-width: @tablet-width) {
    .set-font-size-line-height(20px; 30px);
    padding: 10px 14px;
    height: 177px;
  }
}
/*Дополнительно*/
.form__additional {
  padding: 0 20px;
  margin-bottom: 18px;

  @media (min-width: @tablet-width) {
    padding: 0 70px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  @media (min-width: @desktop-width) {
    grid-column-start: 1;
    grid-column-end: 3;
  }
}

.form__additional .form__legend {
  padding-top: 20px;
  margin-bottom: 38px;
  position: relative;

  @media (min-width: @tablet-width) {
    padding-top: 60px;
    margin-bottom: 63px;
  }
}

.form__additional .form__line {
  margin-bottom: 23px;

  @media (min-width: @tablet-width) {
    margin-bottom: 42px;
    width: 221px;
  }
}

.form__additional .form__label {
  margin-left: 25px;
}

/*Для позиционирования кнопки и подписи*/
.form__fragment {
  display: flex;
  width: 100%;

  @media (min-width: @tablet-width) {
    padding: 0 70px;
    align-items: center;
    justify-content: flex-start;
  }
}

/*Кнопка*/
.form__button {
  width: 280px;
  font-size: 16px;
  line-height: 20px;
  padding: 9px 0;
  margin: 0 auto 21px;

  @media (min-width: @tablet-width) {
    .indent-reset;
    font-size: 20px;
    padding-top: 15px;
    padding-bottom: 15px;

  }

  @media (min-width: @desktop-width) {
    width: 100%;
    grid-column-start: 1;
    grid-column-end: 2;
  }
}

/*Подпись "Обязательные поля*/
.form__note {
  .indent-reset;
  text-align: center;
  //color: red;
  color: @basic-black;

  @media (min-width: @tablet-width) {
    .indent-reset;
    margin-left: 60px;
    .set-font-size-line-height(16px; 18px);

  }

  @media (min-width: @desktop-width) {
    text-align: left;
    grid-column-start: 2;
    grid-column-end: 3;
  }
}
