.main-catalog {
  /*Временно*/
  // outline: 3px solid orange;
  // outline-offset: -3px;
}

.main-catalog__list {
  .indent-reset;
  list-style: none;
}

.main-catalog__item {
  outline: 3px solid blue;
  outline-offset: -3px;
  padding-top: 23px;
  padding-bottom: 18px;
  border-top: 1px solid @special-grey;
}
