.page-header__wrapper {
  display: flex;
  justify-content: space-between;
  flex-direction: column;

  @media (min-width: @tablet-width) {
    flex-direction: row;
  }
}
// .page-header__logo {
//   outline: 3px solid salmon;
//   outline-offset: -3px;
// }

.page-header__logo-image {
  width: 33px;
  height: 37px;
}

.page-header__logo-caption {
  width: 101px;
  height: 18px;
}

.page-header__toggle {
  @media (min-width: @tablet-width) and (min-width: @desktop-width) {
    display: none;
  }
}
