.page-main__title {
  .oswald-regular;
  font-size: 36px;
  line-height: 36px;
  color: @basic-black;
  .indent-reset;
}

.page-main__content {
  .oswald-regular;
  .indent-reset;
  color: @basic-black;
  text-transform: uppercase;
  text-align: left;
  margin-top: 37px;
  margin-bottom: 39px;
}
