.page-footer {
  position: relative;
}

.page-footer__top {
  padding-top: 26px;
  padding-bottom: 27px;

  @media (min-width: @tablet-width) {
    padding-top: 36px;
  }

  @media (min-width: @desktop-width) {
    .indent-reset;
    margin-top: 82px;
  }
}

.page-footer__top--no-index {
  margin-top: 37px;
  background-color: @basic-grey;

  @media (min-width: @tablet-width) {
    padding-top: 60px;
  }
}

.page-footer__top--no-index .contacts__partnership {
  @media (min-width: @tablet-width) {
    margin-left: 30px;
  }
}

.page-footer__logo-caption img {
  width: 128px;
  height: 24px;
  display: block;
  margin: 0 auto;
}

.page-footer__bottom {
  background-color: @basic-grey;
  padding-top: 39px;
}

.social__list {
  display: flex;
  list-style: none;
}

.page-footer__copyright {
  display: flex;
  justify-content: space-between;
}

.page-footer__bottom-content {
  display: flex;
  flex-direction: column;

  @media (min-width: @tablet-width) {
    flex-direction: row;
    justify-content: space-between;
  }
}

.page-footer__content {
  @media (min-width: @desktop-width) {
    position: absolute;
    width: 570px;
    background-color: @basic-white;
  }
}
