.page-footer__wrapper {
  width: 280px;
  margin: 0 auto;
}

.page-footer__logo-caption img {
  display: block;
  margin: 0 auto;
}

.page-footer__bottom {
  background-color: var(--basic-grey);
  padding-top: 39px;
}

.social__list {
  display: flex;
  list-style: none;
}

.page-footer__copyright {
  display: flex;
  justify-content: space-between;
}
