.page-header {
  @media (min-width: @tablet-width) {
    padding-top: 20px;
  }

  @media (min-width: @desktop-width) {
    width: 1440px;
    max-width: 1440px;
    margin: 0 auto;
    padding-top: 50px;
  }
}

.page-header__index {
  @media (min-width: @tablet-width) {
    padding-top: 25px;
  }

  @media (min-width: @desktop-width) {
    padding-top: 53px;
  }
}


.page-header__index::before {
  @media (min-width: @desktop-width) {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    right: 0;
    width: 50%;
    height: 693px;
    background-color: #64a83b;
    background-image: url("../img/background-desktop.jpg");
    background-repeat: no-repeat;
    // background-size: auto 694px;
    background-position-x: right;
  }

  @media (min-resolution: 2dppx) {
    background-image: url("../img/background-desktop@2x.jpg");
    background-size: contain;
  }
}

/*Для стилизации header в планшете и десктопе*/
.page-header__wrapper {
  width: 320px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  flex-direction: column;

  @media (min-width: @tablet-width) {
    flex-direction: row;
    width: 708px;
  }

  @media (min-width: @desktop-width) {
    width: 1220px;
  }
}

.page-header__logo-image[href]:hover {
  opacity: 0.8;
}

.page-header__logo-image[href]:active {
  opacity: 0.6;
}

/*Навигация*/
.page-header__main-nav {
  @media (min-width: @tablet-width) {
    width: 440px;
    //outline: 3px solid tomato;
    //outline-offset: -3px;
  }

  @media (min-width: @desktop-width) {
    width: 478px;
  }
}

.page-header__main-nav-list {
  height: 100%;
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;

  @media (min-width: @tablet-width) {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 6px;
  }
}

.page-header__main-nav-item a {
  display: block;
  padding-top: 22px;
  padding-bottom: 24px;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 20px;
  line-height: 20px;
  color: @basic-black;
  .oswald-medium;
  text-align: center;
  border-bottom: @grey-border;

  @media (min-width: @tablet-width) {
    .set-font-size-line-height(18px; 24px);
    .indent-reset;
    border-bottom: none;
    padding-bottom: 8px;
    .oswald-regular;
  }

  @media (min-width: @desktop-width) {
    color: @basic-black;
    .set-font-size-line-height(20px; 30px);
  }
}

.page-header__main-nav-item--active a {
  @media (min-width: @tablet-width) {
    border-bottom: @green-border;
  }
}
/*Корректировка header для ГЛАВНОЙ*/
.page-header__index .page-header__main-nav-link {
  @media (min-width: @tablet-width) {
    color: @basic-black;
  }

  @media (min-width: @desktop-width) {
    color: @basic-white;
  }
}

.page-header__index .page-header__main-nav-item--active a {
  @media (min-width: @tablet-width) {
    border-bottom: @green-border;
  }

  @media (min-width: @desktop-width) {
    border-bottom: @white-border;
  }
}

.page-header__main-nav-link[href]:hover {
  opacity: 0.6;
}

.page-header__main-nav-link[href]:active {
  opacity: 0.3;
}

/*Стили МОБИЛЬНОГО меню*/
.page-header__top {
  padding-left: 20px;
  padding-right: 20px;
  height: 64px;
  border-bottom: @grey-border;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media (min-width: @tablet-width) {
    padding: 0;
    border: none;
  }
}

.page-header__logo-image img {
  width: 33px;
  height: 37px;

  @media (min-width: @tablet-width) {
    width: 174px;
    height: 52px;
  }

  @media (min-width: @desktop-width) {
    width: 202px;
    height: 59px;
  }
}

.page-header__logo-caption {
  width: 101px;
  height: 18px;
  margin-left: -6px;

  @media (min-width: @tablet-width) {
    display: none;
  }
}

.page-header__toggle {
  width: 24px;
  height: 24px;
  .indent-reset;
  border: none;
  background: @basic-white;

  @media (min-width: @tablet-width) {
    display: none;
  }
}
/*Меню открыто: крест + навигация ЕСТЬ*/
@media (max-width: @mobile-width-only) {
  .page-header__menu-opened {
    .page-header__toggle--cross {
      display: block;
    }

    .page-header__toggle--burger {
      display: none;
    }

    .page-header__main-nav {
      display: block;
    }
  }
}

/*Меню закрыто: бургер + навигации НЕТ*/
@media (max-width: @mobile-width-only) {
  .page-header__menu-closed {
    .page-header__toggle--cross {
      display: none;
    }

    .page-header__toggle--burger {
      display: block;
    }

    .page-header__main-nav {
      display: none;
    }
  }
}
