/*Карточка*/
.product {
  display: flex;
  flex-wrap: wrap;

  @media (min-width: @tablet-width) {
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-right: 39px;
    padding-left: 39px;
    padding-bottom: 40px;
  }
}

/*Картинка карточки*/
.product__link-img {
  width: 50%;
  text-align: center;

  @media (min-width: @tablet-width) {
    flex-grow: 1;
    margin-top: -20px;
  }
}

/*Контент карточки*/
.product__description {
  width: 140px;
  //display: flex;
  //flex-direction: column;
  padding: 21px 0;
  padding-bottom: 22px;

  @media (min-width: @tablet-width) {
    width: 100%;
    //align-items: center;
  }
}

/*Заголовок карточки*/
.product__link-title {
  text-transform: uppercase;
  text-decoration: none;
  color: @special_dark-grey-2;
}

.product__title {
  .indent-reset;
  .oswald-regular;
  .set-font-size-line-height(16px; 20px);
  margin-bottom: 13px;
  width: 76px;

  @media (min-width: @tablet-width) {
    .set-font-size-line-height(20px; 24px);
    width: 155px;
    text-align: center;
  }
}

/*Табличка карточки*/
.product__table {
  .set-font-size-line-height(12px; 16px);
  width: 142px;
  border-collapse: collapse;

  .product__value {
    text-align: right;
  }

  @media (min-width: @tablet-width) {
    width: 249px;
    .set-font-size-line-height(16px; 16px);
  }

  @media (min-width: @desktop-width) {
    width: 169px;
    .set-font-size-line-height(16px; 16px);
  }
}

.product__table td {
  .indent-reset;
}

/*Кнопка Заказать*/
.product__button {
  width: 100%;
  .set-font-size-line-height(16px; 20px);
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 24px;
  //margin-top: 20px;

  @media (min-width: @tablet-width) {
    margin-top: 33px;
  }
}
/*Блок ПОКАЗАТЬ ВСЕ*/
.product--view-more {
  justify-content: center;
  border-bottom: @test-border;

  .product__link-title {
    color: #111111;
    //grid-column-start: 1;
    //grid-column-end: 3;
  }

  .product__title {
    width: 100%;
    margin-top: 80px;
    margin-bottom: 7px;
  }

  .product__text {
    font-size: 12px;
    line-height: 16px;
    .indent-reset;
    grid-column-start: 1;
    grid-column-end: 3;
  }

  .product__button--view-more {
    color: @special_dark-grey;
    background-color: @basic-grey;
    margin-top: 20px;
  }
}
