.programms__wrapper {
  width: 280px;
  margin: 0 auto;
}

.programms__list {
  list-style: none;
  .indent-reset;
}

.programms__item {
  margin-top: 23px;
  background-color: var(--basic-grey);
  box-sizing: border-box;
  padding-left: 20px;
  padding-bottom: 18px;
}

.programms_title {
  text-transform: uppercase;
  .indent-reset;
  .oswald-regular;
  color: var(--basic-black);
  font-size: 24px;
  line-height: 37px;
  padding-top: 30px;
  padding-bottom: 29px;
  padding-left: 60px;
}

.programms__description {
  .indent-reset;
  text-align: left;
  padding-right: 20px;
  padding-bottom: 30px;
}

.programms__link {
  text-transform: uppercase;
  text-decoration: none;
  font-size: 16px;
  line-height: 16px;
  .oswald-regular;
  color: var(--basic-black);
}
