.programms {
  margin-bottom: 27px;

  @media (min-width: @tablet-width) {
    margin-bottom: 45px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 71px;
  }
}

.programms__list {
  list-style: none;
  .indent-reset;
  display: grid;
  grid-row-gap: 20px;

  @media (min-width: @tablet-width) {
    grid-row-gap: 30px;
  }

  @media (min-width: @desktop-width) {
    grid-template-columns: 570px 570px;
    grid-column-gap: 80px;
  }
}

.programms__item {
  background-color: @basic-grey;
  box-sizing: border-box;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 17px;

  @media (min-width: @tablet-width) {
    padding-left: 53px;
    padding-bottom: 57px;
    padding-right: 279px;
  }

  @media (min-width: @tablet-width) {
    padding-right: 0;
  }
}

.programms__title {
  text-transform: uppercase;
  .indent-reset;
  .oswald-regular;
  color: @basic-black;
  font-size: 24px;
  line-height: 37px;
  margin-top: 30px;
  margin-bottom: 29px;
  margin-left: 70px;

  @media (min-width: @tablet-width) {
    font-size: 36px;
    line-height: 36px;
    .indent-reset;
    margin-top: 77px;
    margin-bottom: 25px;
  }

  @media (min-width: @desktop-width) {
    margin-left: 161px;
    margin-bottom: 75px;
  }
}

.programms__description {
  .indent-reset;
  text-align: left;
  padding-bottom: 20px;
  border-bottom: @grey-border;
  margin-bottom: 22px;

  @media (min-width: @tablet-width) {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 50px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 25px;
  }
}

.programms__link {
  text-transform: uppercase;
  text-decoration: none;
  font-size: 16px;
  line-height: 16px;
  .oswald-regular;
  color: @basic-black;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 30px;
  }
}
