.promo {
  position: relative;
  color: @basic-white;
  background-image: url("../img/background-img.jpg"); //зеленый кот
  background-repeat: no-repeat;
  background-position-y: 0;
  background-position-x: center;
  padding-top: 27px;
  padding-bottom: 22px;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/background-img@2x.jpg");
    background-size: 320px 302px;
  }

  @media (min-width: @tablet-width) {
    //height: 866px;
    background-image: none;
    color: @basic-black;
    padding-top: 57px;
    padding-bottom: 525px;
  }

  @media (min-width: @desktop-width) {
    //height: 643px;
    padding-top: 111px;
    padding-bottom: 245px;
  }
}

.promo::before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  height: 302px;
  width: 100%;
  background-color: #62a53b;

  @media (min-width: @tablet-width) {
    display: none;
  }
}

.promo__content {
  position: relative;

  @media (min-width: @tablet-width) {
    width: 415px;
    margin-left: 87px;
  }

  @media (min-width: @desktop-width) {
    margin-left: 80px;
  }
}

.promo__title {
  font-size: 36px;
  line-height: 36px;
  text-align: center;
  .oswald-regular;
  .indent-reset;
  margin-bottom: 27px;

  @media (min-width: @tablet-width) {
    font-size: 60px;
    line-height: 60px;
    text-align: left;
    margin-bottom: 41px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 39px;
  }
}

.promo__slogan {
  text-align: center;
  text-transform: uppercase;
  .oswald-regular;
  .indent-reset;
  font-size: 14px;
  line-height: 14px;
  margin-bottom: 29px;

  @media (min-width: @tablet-width) {
    text-align: left;
    margin-bottom: 49px;
    font-size: 20px;
    line-height: 20px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 52px;
  }
}

.promo__image {
  display: block;
  margin-bottom: 7px;
  width: 280px;
  height: 270px;

  @media (min-width: @tablet-width) {
    position: absolute;
    z-index: -1;
    width: 709px;
    height: 609px;
    left: -87px;
    top: 201px;
  }

  @media (min-width: @desktop-width) {
    width: 552px;
    height: 499px;
    left: 367px;
    top: -83px;
  }
}

.promo__link {
  width: 100%;
  padding: 11px 0;
  margin-top: -4px;

  @media (min-width: @tablet-width) {
    position: relative;
    font-size: 20px;
    line-height: 20px;
    width: 244px;
    .indent-reset;
    padding: 17px 0;
    margin-left: -6px;
  }

  @media (min-width: @desktop-width) {
    margin-left: 0;
  }
}
