.slider {
  position: relative;

  @media (min-width: @tablet-width) {
    //background-color: @basic-grey;
    //padding-bottom: 69px;
  }
}

/*Картинки*/
.slider__img {
  display: block;
  margin: 0 auto;
}

.slider__img--hide {
  display: none;
}

.slider__img--before {
  width: 311px;
  height: 232px;

  @media (min-width: @tablet-width) {
    width: 677px;
    height: 520px;
  }
}

.slider__img--after {
  width: 251px;
  height: 240px;

  @media (min-width: @tablet-width) {
    width: 545px;
    height: 520px;
  }
}

/*Кнопки*/
.slider__buttons {
  margin-top: 28px;
  display: flex;
  justify-content: center;
  align-items: center;

  @media (min-width: @tablet-width) {
    margin-top: 15px;
  }

  @media (min-width: @desktop-width) {
    margin-top: 34px;
    margin-left: 51px;
  }
}

.slider__button {
  .indent-reset;
  margin: 1px 6px;
  border: none;
  background-color: @basic-grey-2;
  .oswald-regular;
  text-transform: uppercase;
  .set-font-size-line-height(16px; 20px);
  cursor: pointer;
  transition: 0.3s;

  @media (min-width: @tablet-width) {
    background-color: @basic-grey-2;
    .set-font-size-line-height(20px; 30px);
    border-bottom: 1px dotted @basic-black;
    .indent-reset;
  }

  &:hover {
    border-bottom: 1px solid @basic-black;
  }

  &:active {
    border: none;
  }
}

/*Переключатель в мобилке*/
.slider__toggle {
  position: relative;
  width: 84px;
  height: 14px;
  background-color: @basic-white;
  border: 1px solid #cdcdcd;
  border-radius: 6px;
  padding: 3px 5px;
  margin-right: 10px;
  margin-left: 10px;

  @media (min-width: @tablet-width) {
    display: none;
  }
}

.slider__toggle span {
  position: absolute;
  left: 5px;
  display: block;
  background-color: @basic-green;
  border-radius: 3px;
  width: 35px;
  height: 6px;
}

/*Переключатель в планшете*/
.slider__scale {
  display: none;

  @media (min-width: @tablet-width) {
    position: relative;
    display: block;
    width: 428px;
    height: 6px;
    border-radius: 6px;
    background-color: #dcdcdc;
    margin-left: 23px;
    margin-right: 21px;
  }
}

.slider__scale .slider__scale-bar {
  position: absolute;
  left: 199px;
  top: -14px;
  width: 34px;
  height: 34px;
  background-color: @basic-white;
  border-radius: 50%;
  border: 1px solid #cdcdcd;
  box-shadow: 0 1px 3px 0 #00000029;
  cursor: pointer;
  transition: 0.1s;

  &:hover {
    box-shadow: 0 2px 4px 0 #00000030;
  }

  &:active {
    border: @green-border-2;
  }
}

.slider__scale .slider__scale-bar::before {
  content: "";
  position: absolute;
  top: 12px;
  left: 12px;
  width: 8px;
  height: 8px;
  background-color: @basic-green;
  border-radius: 50%;
}
