.technology {
  padding-bottom: 20px;

  @media (min-width: @tablet-width) {
    padding-bottom: 51px;
  }

  @media (min-width: @desktop-width) {
    border: none;
    padding-bottom: 20px;
  }
}

.technology__title {
  .indent-reset;
  .oswald-regular;
  font-size: 36px;
  line-height: 40px;
  color: @basic-black;
  margin-bottom: 40px;

  @media (min-width: @tablet-width) {
    margin-bottom: 65px;
    font-size: 60px;
    line-height: 60px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 67px;
  }
}

.technology__list {
  list-style: none;
  .indent-reset;
  display: grid;


  @media (min-width: @tablet-width) {
    .indent-reset;
    font-size: 16px;
    line-height: 24px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-column-gap: 60px;
    grid-row-gap: 76px;
  }

  @media (min-width: @desktop-width) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-gap: 75px;
  }
}
/*Карточка*/
.technology__item {
  position: relative;
  margin-bottom: 26px;
  padding-left: 80px;

  @media (min-width: @tablet-width) {
    .indent-reset;
    width: 250px;
    padding-top: 119px;
    padding-bottom: 50px;
  }
}
/*Иконки*/
.technology__item::before {
  content: "";
  position: absolute;
  width: 60px;
  height: 60px;
  background-color: @basic-green;
  left: 0;
  top: -2px;

  @media (min-width: @tablet-width) {
    width: 80px;
    height: 80px;
    top: 7px;
  }
}

.technology__item--structure::before {
  content: "";
  position: absolute;
  background-image: url("../img/icon-structure.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.technology__item--release::before {
  content: "";
  position: absolute;
  background-image: url("../img/icon-release.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.technology__item--schedule::before {
  content: "";
  position: absolute;
  background-image: url("../img/icon-schedule.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.technology__item--change::before {
  content: "";
  position: absolute;
  background-image: url("../img/icon-change.svg");
  background-repeat: no-repeat;
  background-position: center;
}
/*Цифры в планшете и десктопе*/
.technology__item--structure::after {
  @media (min-width: @tablet-width) {
    content: "1";
    position: absolute;
    font-size: 280px;
    color: @basic-grey;
    .oswald-regular;
    z-index: -1;
    top: 96px;
    right: 20px;
  }
}

.technology__item--release::after {
  @media (min-width: @tablet-width) {
    content: "2";
    position: absolute;
    font-size: 280px;
    color: @basic-grey;
    .oswald-regular;
    z-index: -1;
    top: 96px;
    right: 5px;
  }
}

.technology__item--schedule::after {
  @media (min-width: @tablet-width) {
    content: "3";
    position: absolute;
    font-size: 280px;
    color: @basic-grey;
    .oswald-regular;
    z-index: -1;
    top: 96px;
    right: 2px;
  }
}

.technology__item--change::after {
  @media (min-width: @tablet-width) {
    content: "4";
    position: absolute;
    font-size: 280px;
    color: @basic-grey;
    .oswald-regular;
    z-index: -1;
    top: 96px;
    right: 1px;
  }
}

/*Контент карточки*/
.technology__content {
  .indent-reset;
}
/*Раскладка карточек на планшете*/
@media (min-width: @tablet-width) {
  .technology__item--structure {
    grid-column-start: 1;
  }

  .technology__item--release {
    grid-column-start: 2;
  }

  .technology__item--schedule {
    grid-row-start: 2;
    grid-column-start: 1;
  }

  .technology__item--change {
    grid-row-start: 2;
    grid-column-start: 2;
  }
}

/*Раскладка карточек на десктопе*/
@media (min-width: @desktop-width) {
  .technology__item--structure {
    grid-column-start: 1;
  }

  .technology__item--release {
    grid-column-start: 2;
  }

  .technology__item--schedule {
    grid-column-start: 3;
    grid-row-start: 1;
  }

  .technology__item--change {
    grid-column-start: 4;
    grid-row-start: 1;
  }
}
