.technology__wrapper {
  width: 280px;
  margin: 0 auto;
}

.technology__title {
  .indent-reset;
  .oswald-regular;
  font-size: 36px;
  line-height: 40px;
  color: var(--basic-black);
  margin-top: 32px;
  margin-bottom: 40px;
}

.technology__list {
  list-style: none;
  .indent-reset;
  padding-left: 80px;
  margin-bottom: 42px;
}
