// Переменные-цвета
@basic-black: #000000;
@basic-white: #ffffff;
@basic-grey: #f2f2f2;
@basic-grey-2: #eaeaea;
@special_dark-grey: #444444;
@special_dark-grey-2: #222222;
@basic-green: #68b738;
@opacity-green: rgba(104, 183, 56, 0.85);

// Примеси
.oswald-regular() {
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
}

.oswald-medium() {
  font-family: "Oswald Medium", "Arial", sans-serif;
  font-style: normal;
  font-weight: 500;
}

.arial-regular() {
  font-family: "Arial", sans-serif;
  font-weight: 400;
}

.indent-reset() {
  margin: 0;
  padding: 0;
}
